<div ui-view><h1>
  List of all heroes:
</h1>
<div ng-show="rolecheck();">
<ul ng-repeat='data in array' class='list-group'>
     <li ng-click="showhero($index)"  class="list-group-item list-group-item-secondary listelement1">
          <span class="badge badge-dark">{{array[$index].id}}</span>
          {{array[$index].first_name}} {{array[$index].last_name}}
      </li>
</ul>
</div>
<div ng-hide="rolecheck();">
<ul ng-repeat='data in array'  class='list-group'>
  <li class="list-group-item list-group-item-secondary listelement2">
       <span class="badge badge-dark">{{array[$index].id}}</span>
       {{array[$index].first_name}} {{array[$index].last_name}}
   </li>
</ul>
</div>
<div ng-if='flag' class='container'>
  <h3>{{heroname}} is your hero</h3>
  <button type='button' class="btn btn-outline-primary" ui-sref='.herodetails({id: identity})'>View Details</button>
</div>
</div>